@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
.galleryImgs {
    width: auto;
    height: 400px;
    border-radius: 20px;
}
